body {
  background-color: #2c2c2c;
  height: 100%;
  width: 100%;
  font-family: 'gilroyextrabold';
}

section {
  height: 100%;
  width: 100%;
  float: left;
}

.home_page {
  background-color: #2c2c2c;
}

.about_page {
  background-color: #ffffff;
}

.resume_page {
  background-color: #ffffff;
}

.contact_page {
  background-color: #ffffff;
}

.split {
  height: 100%;
  width: 50%;
  float: left;
}

.left {
  left: 0;
}

.right {
  right:0
}

.about_half {
  background-color: #f7484e;
}

.resume_half {
  background-color: #3457d5;
}

.contact_half {
  background-color: #ffcc33;
}

@font-face {
  font-family: 'gilroyextrabold';
  src: url('/fonts/gilroy-extrabold-webfont.woff2') format('woff2'),
       url('/fonts/gilroy-extrabold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}